.whoIamdiv {
    visibility: 1;
    display: block;
    height: fit-content;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 5% 4% 5% 6%;
}

.whoIamdiv h1 {
    font-size: 45pt;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 20px;
    color: var(--accent-color1);
}

.whoIamdiv h2 {
    font-size: 42pt;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 20px;
    color: var(--accent-color1);
}

.whoIamdiv h3 {
    font-size: 22pt;
    /* font-family: 'Amita', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-weight: lighter;
    text-align: left;
    padding: 10px 0;
    color: var(--accent-color1);
}

.whoIamdiv p {
    font-size: 19pt;
    line-height: 20pt;
    /* font-family: 'Amita', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    color: var(--accent-color1);
    width: 100%;
}

.avatar {
    width: 40%;
}

.avatar img {
  /* transform: translateY(-80px); */
  width: 80%;
  max-width: 400px;
}

.icon__div {
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
}

.icon__button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-width: 2.5px;
    border-color: var(--accent-color1);
    background-color: transparent;
    border-style: solid;
    transition: all 0.25s ease;
    /* box-shadow: 6px 4px 6px 1px #7d7d7d; */
    opacity: 1;
}

.icon__button:hover {
    /* margin: -4.5px 0 0 0; */
    transform: translate(0, -2px);
    box-shadow: 0px 0px 8px 2px white;
    border-width: 1.5px;
}

.icon__button :first-child {
    width: 30px;
    height: auto;
}

.my_name {
    /* background: linear-gradient(90deg, var(--accent-color2) 0%, var(--accent-color3) 100%); */
    font-size: 50pt;
  background: -webkit-linear-gradient(75deg, var(--accent-color2) 0%, var(--accent-color3) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.avatar {

}

.square {
    height: 150px;
    width: 150px;
    /* background: repeating-conic-gradient(rgba(var(--accent-color2-vec), 0) 0%, rgba(var(--accent-color2-vec), 1) 11.25%, rgba(var(--accent-color2-vec), 0) 22.5%); */
}

.circle {
    height: 140px;
    width: 140px;
    border-radius: 100px;
    /* background: radial-gradient(rgba(var(--accent-color2-rgb),0) 0%, rgba(var(--accent-color2-rgb), 1) 100%); */
    /* background: radial-gradient(rgba(var(--accent-color3-vec), 1) 0%, rgba(var(--accent-color3-vec), 0) 100%); */
}

.triangle {
    height: 0px;
    width: 0px;
    /* background: radial-gradient(rgba(var(--accent-color4-vec), 1) 0%, rgba(var(--accent-color4-vec), 0) 100%); */
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 110px solid rgba(var(--accent-color2-vec), 1);
}




/* ----------------------------------------------
 * Generated by Animista on 2023-6-6 22:58:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    90%{
      -webkit-transform: translateX(+15px);
              transform: translateX(+15px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    90%{
      -webkit-transform: translateX(+15px);
              transform: translateX(+15px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

.out_of_screen {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.in_screen_1 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
	        transition: transform 0.8s ease-in-out;
    /* -webkit-animation: slide-right 1.0s ease-in-out;
    animation: slide-right 1.0s ease-in-out; */
}

.in_screen_2 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease-in-out 1.0s;
	        transition: transform 0.8s ease-in-out 0.6s;
    /* -webkit-animation: slide-right 1.0s ease-in-out 0.6s;
    animation: slide-right 1.0s ease-in-out 0.6s; */
}

.in_screen_3 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease-in-out 2.0s;
	        transition: transform 0.8s ease-in-out 1.2s;
    /* -webkit-animation: slide-right 1.0s ease-in-out 1.2s;
    animation: slide-right 1.0s ease-in-out 1.2s; */
}

/* .slide-right {
	-webkit-animation: slide-right 1.0s ease-in-out;
	        animation: slide-right 1.0s ease-in-out;
}

.slide-right5 {
	-webkit-animation: slide-right 1.0s ease-in-out 1.0s;
	        animation: slide-right 1.0s ease-in-out 1.0s;
}

.slide-right10 {
	-webkit-animation: slide-right 1.0s ease-in-out 2.0s;
	        animation: slide-right 1.0s ease-in-out 2.0s;
} */
