nav {
    width: 100%;
    padding: 30px 70px 0 70px;
    display: flex;
    flex-direction: row;
}

nav ul {
    width: fit-content;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    color: var(--accent-color1);
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

nav ul li {
    width: fit-content;
    height: 32px;
    /* margin: 0; */
}

@media (max-width: 900px) {

    nav {
        justify-content: center;
    }

    nav ul {
        gap: 45px;
    }

    nav ul li {
        width: fit-content;
        text-align: center;
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 550px) {

    nav {
        padding: 5px 0px 5px 0px;
        flex-direction: column;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-visible {
        display: flex;
    }

}