/* font-family: 'Merriweather', serif; */

.main {
  display: flex;
  flex-direction: column;
  min-height: 300vh;
  width: 100%;
  background-color: var(--primary-color);
}

/* 
  COLORS:
  Primary color: #0B0B09 (very dark black)
  Accent color 1: #FF7F50 (coral orange)
  Accent color 2: #32CD32 (lime green)
  Accent color 3: #6495ED (cornflower blue) 
*/

.sectionScrollable {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* flex-wrap: nowrap; */
}

.section_divisor {
  padding-top: 300px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 700px) {}

/* @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  } */